html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

h1,
h2 {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 2rem;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #f8f8f8;
}

em {
  font-weight: bold;
  font-style: normal;
}

.page-header {
  height: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ffffff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.2rem;
  font-family: 'Comfortaa', cursive;
  user-select: none;
}

.page-main {
  padding: 2rem 1rem 2rem;
  display: grid;
  row-gap: 0.5rem;
}

@media screen and (min-width: 600px) {
  .page-header {
    padding: 0 6rem;
    justify-content: flex-start;
  }

  .page-main {
    padding: 2rem 6rem 5rem;
  }
}

@media screen and (min-width: 1000px) {
  .page-main {
    padding-left: 12rem;
    padding-right: 12rem;

    row-gap: 1.5rem;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 1rem;
}

.card {
  --status-color: rgb(228, 243, 255);

  position: relative;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  cursor: pointer;
  border-radius: 0.75rem;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  transition: box-shadow 0.16s;
}

.card:hover {
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
}

.card--paid {
  --status-color: rgb(253, 241, 213);
}

.card--submitted {
  --status-color: rgb(229, 255, 213);
}

.card__date-time {
  z-index: 1000;
  height: 3.5rem;

  padding: 0.5rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;

  background: #555;
}

.card__time {
  color: #ccc;
  font-size: 0.9rem;
}

.card__meta {
  z-index: 500;
  max-width: 100%;

  padding: 1rem;
  display: flex;
  flex-direction: column;

  font-family: 'Oswald', sans-serif;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);

  border-radius: 0 0 0.75rem 0.75rem;
}

.card__author {
  color: #777;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.1rem;
}

.card__publish-date {
  color: #444;
  font-weight: bold;
}

.card__title {
  margin-top: 0.25rem;

  color: #444;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.card__status {
  margin-top: 1rem;

  padding: 0.1rem 0;
  text-align: center;

  font-weight: bold;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.6);

  background-color: var(--status-color);
  border-radius: 0.35rem;
}

.card__content {
  flex: 1 0;

  padding: 1rem;
  padding-bottom: 0.75rem;
  display: grid;
  grid:
    'skills side' 1fr /
    1fr auto;
  gap: 0.5rem;

  color: #333;
}

.card ul > li::before {
  content: '-';
}

.card__skills {
  grid-area: skills;
}

.card__content__side {
  grid-area: side;

  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  border-left: 2px solid rgba(0, 0, 0, 0.1);
}

.card__content__side > *:not(:first-child) {
  margin-top: 0.25rem;
}
